[Unit]
Description=Foundry Virtual Tabletop
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/foundryvtt
ExecStart=/usr/bin/node resources/app/main.js --dataPath=/opt/foundrydata
Restart=on-failure
# As variáveis de ambiente para o admin user/password serão adicionadas aqui se necessário

[Install]
WantedBy=multi-user.target
