# Arquivo de configuração do No-IP gerado pelo Ansible
#
# Substitua as informações abaixo com as suas.
#
# O nome de usuário da sua conta No-IP.
USER={{ noip_username }}
# A senha da sua conta No-IP.
PASS={{ noip_password }}
#
# Uma lista de todos os hostnames/grupos a serem atualizados.
#
# Para atualizar todos os hosts na sua conta, deixe a lista de hosts vazia.
# Para atualizar hosts específicos, liste-os, separados por espaços.
# Ex: HOST.0=myhost1.no-ip.org HOST.1=myhost2.no-ip.org
#
HOST.0={{ noip_hostname }}
#
# Para especificar um endereço IP a ser definido para um host, use
# HOST.0=hostname,1.2.3.4
#
# Para especificar qual dispositivo de rede usar, descomente a próxima linha.
# Se não especificado, o auto-descobrimento de IP será usado.
#
#NET.DEVICE=eth0
#
# O intervalo de atualização em minutos. O padrão é 30.
# Se NAT for sim, o padrão é 1.
#
#INTERVAL=30
#
# NAT. Se você está atrás de um roteador que está fazendo NAT, defina como sim.
NAT=yes
