# Arquivo de configuração gerado localmente
config.sh
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform
ansible/inventory.ini
ansible/vars.yml

# Arquivos de lock de editores
.#*